<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysTaskRecordMapper">

    <resultMap type="SysTaskRecord" id="SysTaskRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="status"    column="status"    />
        <result property="member"    column="member"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysTaskRecordVo">
        select record_id, r.task_id,t.task_name, r.status, member, remark from sys_task t join sys_task_record r on(t.task_id = r.task_id)
    </sql>

    <select id="selectSysTaskRecordList" parameterType="SysTaskRecord" resultMap="SysTaskRecordResult">
        <include refid="selectSysTaskRecordVo"/>
        <where>
            <if test="taskId != null and taskId != 0 "> and task_id = #{taskId}</if>
            <if test="recordId != null and recordId != 0 "> and recordId = #{recordId}</if>
            <if test="status != null and status != 0 "> and status = #{status}</if>
            <if test="member != null  and member != ''"> and member = #{member}</if>
        </where>
    </select>

    <select id="selectSysTaskRecordByRecordId" parameterType="Long" resultMap="SysTaskRecordResult">
        <include refid="selectSysTaskRecordVo"/>
        where record_id = #{recordId}
    </select>
    <select id="getTaskRecordNum" resultType="java.lang.Integer">
        select
            count(1)
        from
            sys_task t join sys_task_record r on (t.task_id = r.task_id);
    </select>
    <select id="getMemberNum" resultType="java.lang.Integer">
        select
            count(1)
        from
            sys_user;
    </select>
    <select id="getExceptionNum" resultType="java.lang.Integer">
        select
            count(1)
        from
            sys_task t join sys_task_record r on (t.task_id = r.task_id)
        where
            r.`status` = 3;
    </select>

    <insert id="insertSysTaskRecord" parameterType="SysTaskRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into sys_task_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="status != null">status,</if>
            <if test="member != null">member,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="status != null">#{status},</if>
            <if test="member != null">#{member},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysTaskRecord" parameterType="SysTaskRecordOperation">
        update sys_task_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="operation != null">`status` = #{operation},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteSysTaskRecordByRecordId" parameterType="Long">
        delete from sys_task_record where record_id = #{recordId}
    </delete>

    <delete id="deleteSysTaskRecordByRecordIds" parameterType="String">
        delete from sys_task_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>